* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

:root.theme-light {
    --color-slidebar-text: #333;
    --color-bg: #f4f7fb;
    --color-text: #333;
    --color-primary-start: #102e4e;
    --color-primary-mid: #ef882a;
    --color-primary-end: #102e4e;
    --color-sidebar-bg: #fff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-hover: #ef882a;

    --icon-theme: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M21 12.79A9 9 0 0111.21 3a7 7 0 108.79 9.79z'/></svg>");

    --icon-user: url("data:image/svg+xml;utf8,<svg fill='gray' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='black' d='M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z'/></svg>");

    --icon-menu: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='white' d='M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z'/></svg>");

    --icon-home: url("data:image/svg+xml,%3Csvg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9.5l9-7 9 7V21a1 1 0 0 1-1 1h-5v-7H9v7H4a1 1 0 0 1-1-1V9.5z'/%3E%3C/svg%3E");


    --icon-close: url("data:image/svg+xml,%3Csvg%20fill='black'%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M18%206L6%2018M6%206l12%2012'%20stroke='black'%20stroke-width='2'%20stroke-linecap='round'/%3E%3C/svg%3E");
}

:root.theme-dark {
    --color-slidebar-text: #d28c21;
    --color-bg: #d28c21;
    --color-text: #ddd;
    --color-primary-start: #0b1a2d;
    --color-primary-mid: #121212;
    --color-primary-end: #0b1a2d;
    --color-sidebar-bg: #1e1e1e;
    --color-shadow: rgba(0, 0, 0, 0.8);
    --color-hover: #d28c21;

    --icon-theme: url("data:image/svg+xml,%3Csvg fill='%23ef882a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");

    --icon-close: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 6L6 18M6 6l12 12' stroke='%23ef882a' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

    --icon-menu: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23d28c21' d='M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z'/></svg>");

    --icon-user: url("data:image/svg+xml;utf8,<svg fill='%23ef882a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='%23ef882a' d='M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z'/></svg>");

    --icon-home: url("data:image/svg+xml,%3Csvg fill='%23ef882a' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9.5l9-7 9 7V21a1 1 0 0 1-1 1h-5v-7H9v7H4a1 1 0 0 1-1-1V9.5z'/%3E%3C/svg%3E");
}


.default_btn {
    background-color: var(--color-primary-light-mid);
    color: var(--color-text);
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.default_btn:hover {
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px var(--color-hover);
}

