<!DOCTYPE html>
<html lang="pt-br" class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/dashboard.css">
</head>

<body>
<header id="header">
    <div class="icon menu-toggle "></div>
    <div>
        <h1>Admin</h1>
    </div>
    <div id="btn_tema" class="icon theme_icon"></div>
</header>

<main>
    <nav id="menu" class="menu_light">
        <div class="content_header_nav">
            <div class="icon close_btn"></div>
            <div class="icon user-icon"></div>
            <h2 id="user_name">Olá, Richard</h2>
        </div>

        <ul>
            <li><i class="icon home_icon"></i> Início</li>
        </ul>
    </nav>

    <div class="div_register">
        <h2>Olá, bem-vindo ao Unibot!</h2>
        <p>
            Você terá 7 dias grátis ou a resolução de até 4 provas de forma gratuita. Aproveite!
            Agora você já pode usar a extensão. Seu tempo será contabilizado abaixo. Obrigado!
        </p>

        <div class="free_time">
            <div id="time">Tempo grátis: <span>0/7</span> dias</div>
            <div id="trial">Provas resolvidas: <span>0/4</span></div>
        </div>
    </div>

</main>

<script src="js/dashboard-user.js"></script>
</body>

</html>