<!DOCTYPE html>
<html lang="pt-br" class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/dashboard.css">
</head>

<body>
<header id="header">
    <div class="icon menu-toggle "></div>
    <div>
        <h1>Admin</h1>
    </div>
    <div id="btn_tema" class="icon theme_icon"></div>
</header>

<main>
    <nav id="menu" class="menu_light">
        <div class="content_header_nav">
            <div class="icon close_btn"></div>
            <div class="icon user-icon"></div>
            <h2 id="user_name">Olá, Richard</h2>
        </div>

        <ul>
            <li><i class="icon home_icon"></i> Início</li>
        </ul>
    </nav>

    <div class="div_register">
        <h2>Olá, bem-vindo ao Unibot!</h2>
        <p>
            Você terá 7 dias grátis ou a resolução de até 4 provas de forma gratuita. Aproveite!
            Agora você já pode usar a extensão. Seu tempo será contabilizado abaixo. Obrigado!
        </p>

        <div class="free_time">
            <div id="time">Tempo grátis: <span>0/7</span> dias</div>
            <div id="trial">Provas resolvidas: <span>0/4</span></div>
        </div>
    </div>

</main>
<!-- Botão de Assinatura -->
<button id="subscribe-btn" class="shine-button">Assinar Plano</button>

<!-- Modal de Atenção -->
<div id="modal" class="modal">
    <div class="modal-content">
        <h3>Plano Prata - R$ 9,90</h3>
        <p>⚠️ Atenção: Use o mesmo e-mail que você usou para se cadastrar na Unibot.</p>
        <button id="checkout">Ir para o checkout</button>
        <button id="cancel-btn">Cancelar</button>
    </div>
</div>


<script>
    const subscribeBtn = document.getElementById("subscribe-btn");
    const modal = document.getElementById("modal");
    const cancelBtn = document.getElementById("cancel-btn");
    const checkout = document.getElementById("checkout");



    subscribeBtn.addEventListener("click", () => {
      modal.style.display = "flex";

    });

    checkout.addEventListener("click", () => {
      window.location.href = "https://pay.kiwify.com.br/B1Ud4bG";
    })

    cancelBtn.addEventListener("click", () => {

      modal.style.display = "none";
    });
</script>

<script src="js/dashboard-user.js"></script>
</body>

</html>